doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Lien Tran
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education                                        
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                   

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Lien 
                        span.text-primary Tran
                    .subheading.mb-5
                        | FPT Plaza1 · DaNang · (84) 3899-37574 · 
                        a(href='mailto:name@email.com') tranthilien.m@gmail.com
                    p.lead.mb-5
                       
                        | On the way to become Woman In Tech. I will try to learn new things, hard-working to be able to participate and contribute to many projects. Now I'm just a fresher with little knowledge and experience, but my career goal is in about 3 years, I will be an experienced Front-end Developer.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/lien-tran-73315874', target='blank')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/lientran1990', target='blank')
                            i.fab.fa-github                      
                        a.social-icon(href='https://www.facebook.com/lien.tranthi.3', target='blank')
                            i.fab.fa-facebook-f

            hr.m-0

        

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1.mb-3
                            h3.mb-0 Coursera
                            .subheading Meta Front-End Developer Certificat Professionnel
                            i.fas.fa-check.text-primary
                            a.m-2(href="https://coursera.org/share/38e83f229eccae818e27f718894cf731", target="_blank") Introduction to Front-End Development
                            br

                            i.fas.fa-check.text-primary
                            a.m-2(href="https://coursera.org/share/3c5ae6da0ec9ea38a6ca169fe993e314", target="_blank") Programming with JavaScript
                            br

                            i.fas.fa-check.text-primary
                            a.m-2(href="https://coursera.org/share/c30798ae386ed5f6569e72d0fea71b5f", target="_blank") Version Control
                            br

                            i.fas.fa-check.text-primary
                            a.m-2(href="https://coursera.org/share/a72c803a6670f38afde984cc0b5913c8", target="_blank") HTML and CSS in depth
                            br

                            i.fas.fa-check.text-primary
                            a.m-2(href="https://coursera.org/share/f6146d32ceda084cd200bb25c23b7b6c", target="_blank") React Basics
                            br

                            i.fas.fa-check.text-primary
                            a.m-2(href="https://coursera.org/share/a3563ec6296d791f4e7520ba79bd77f6", target="_blank") Advance React


                        .flex-shrink-0
                            span.text-primary July 2023 - October 2023


                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1.mb-3
                            h3.mb-0 FUNIX
                            .subheading Software Tester Specialization
                            i.fas.fa-check.text-primary
                            a.m-2(href="https://drive.google.com/file/d/1skI3cpGEaWgAgeEhc4ZmlFpyY7tYVkQt/view", target="_blank") Tester Software
                        
                        .flex-shrink-0
                            span.text-primary September 2022 - June 2023
                            
                    
                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Da Nang University of Economics
                            .subheading.mb-3 Accounting
                        
                        .flex-shrink-0
                            span.text-primary September 2009 - June 2013              

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-java
                        li.list-inline-item
                            i.fab.fa-github

                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Git Flow
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Automation Testing (Selenium)
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Portfolio Resume
                            //- .subheading.mb-3 
                            p
                                | Resume is a resume and CV theme for Bootstrap created by Start Bootstrap. It's reffered from the site:
                                a(href= 'https://github.com/StartBootstrap/startbootstrap-resume', target='blank') Bootstrap Resume
                                | In this resume used a more readable and structured html syntax with .pug extension instead of .html. With the css part, written as a structured CSS preprocessor and  easy to maintain.
                        .flex-shrink-0
                            span.text-primary October 2023 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Project: My-first-webpage
                            
                            p
                                | This is an assignment with the structure of using basic html and css that I learned.
                                br
                                a(href='https://lientran1990.github.io/My-first-webpage/', target='blank') Little Lemon Restaurant, 
                                | this is a page that my header contain the logo and the main content contain a large promotional banner with three columns with text and images below it. The footer will have two columns: the first column should have a small logo and the second one should have copywriting information.
                        .flex-shrink-0
                            span.text-primary October 2023 - October 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Project: Tester
                            .subheading.mb-3 
                            p
                                | A project including manual and automation testing. Write test cases and test website functionality based on functions in SRS. Create Maven project, install libraries: Selenium, TestNG, ReportNG, Guice, POI, Chorme driver. Write code, execute test cases with TestNG and export reports with ReportNG.
                                a(href='https://github.com/lientran1990/MyProjects', target='blank') Click here
                        .flex-shrink-0
                            span.text-primary December 2022 - May 2023


            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | As a mother, I like to spend time playing with my children, reading books and going for walks with them. Sometimes I want to have time to take care of myself and hang out cafe to talk with friends. I like to travel with my family and close friends.
                 
            hr.m-0

           
        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')